streamlit
fastapi
uvicorn
requests
pandas
yfinance
plotly
sqlalchemy
pymysql
pymongo
feedparser
textblob
dotenv
cryptography
lxml
lxml_html_clean
newspaper4k
transformers>=4.30.0
torch>=2.0.0
torchvision
